<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/check-list.css">
    <link rel="stylesheet" href="/Styles/global.css">
    <link rel="stylesheet" href="/Styles/registration.css">

    <!-- <link rel="stylesheet" href="/styles/bootstrap.css"> -->
    <title>Cadastro de pedidos</title>
</head>

<body>
    <header>
        <div class="menu">
            <!-- <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                  <h5 class="text-white h4">Teste</h5>
                  <span class="text-muted"></span>
                </div>
              </div>
              <nav class="navbar navbar-light bg-dark">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </nav> -->
        </div>
    </header>
    <section>
        <div class="header-list">
            <div class="logo-check">
                <img src="/img/logo.PNG" alt="">
            </div>

            <h1>Pedidos emitidos</h1>

            <div class="check-list2">
                <img src="/img/check-list.png" alt="">
            </div>
        </div>

        <div class="input-check">

            <div class="input-box">
                <label for="number">N°PEDIDO</label>
                <input type="number" type="num" name="number">
            </div>
            <div class="input-box">
                <label for="firstname">Nome</label>
                <input type="firstname" type="text" name="firstname" placeholder="Digite o nome" required>
            </div>

        <!-- <div class="">
            <div class="">

                <div class="input-check">
                    <label for="number">N°PEDIDO</label>
                    <input type="number" type="num" name="number">
                </div>
                <div class="input-check">
                    <label for="firstname">Nome</label>
                    <input type="firstname" type="text" name="firstname" placeholder="Digite o nome" required>
                </div>
            </div>
        </div> -->

    </section>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="/Controllers/bootstrap.js"></script>
</body>

</html>